* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #E5E6BA;
}

nav .coworking-logo {
    display: flex;
    align-items: center;
}

nav .coworking-logo img {
    height: 50px;
}

nav .coworking-logo h1 {
    font-size: 2rem;
    margin-left: 20px;
}

nav .nav-buttons {
    display: flex;
    align-items: center;
}

nav .nav-buttons ul {
    display: flex;
    list-style: none;
}

nav .nav-buttons ul li > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 10px;
}

.headerimagetext {
    position: relative;
}

.headerimagetext h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: 600;
}

.headerimagetext img {
    filter: brightness(60%) blur(2px);
}

.circles {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.circle-4, .circle-5, .circle-6 {
    align-self: flex-end;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F2AF4C;
    position: relative;
    margin: 20px 0;
}

.circle h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section#Service {
    display: flex;
    align-items: center;
}

.coworking-service-text {
    text-align: center;
}

.coworking-service-text h1 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 20px;
}

.coworking-service-text p {
    line-height: 146%;
    font-size: 25px;
}

section#Prices, section#Time, section#Contacts {
    padding: 50px 0;
}


section#Prices h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 70px;
    letter-spacing: 8px;
}

.price-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    border: 2px solid;
    margin: 0 50px 30px;
}

.price-card h2 {
    font-family: "Roboto serif";
    font-size: 35px;
}

.price-card p {
    font-size: 16px;
}

.price-card h2, .price-card p {
    margin: 20px 15px;
    
}

.price-card .price-card-low-row {
    display: flex;
    margin: 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.price-card-low-row a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid;
    background-color: #E9C785;
    border-radius: 20px;
    font-weight: bold;
}

section#Time {
    background-color: #FFD2B9;
    text-align: center;
    overflow-x: auto;
}

section#Time h1 {
    font-family: "Roboto serif";
    font-size: 3rem;
    padding-top: 20px;
    font-weight: bold;
    letter-spacing: 8px;
}

section#Time table {
    margin: 30px auto 0;
    padding-bottom: 30px;
    width: 80%;
}

section#Time table th {
    background-color: #D9D9D9;
}

section#Time table th, td {
    border: 1px solid black;
    font-size: 24px;
}


section#Contacts {
    background-color: #FFE975;
    
}

section#Contacts h1 {
    font-family: "Roboto serif";
    font-size: 3rem;
    padding-top: 20px;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.contact-place {
    display: flex;
    border: 1px solid;
    padding-right: 10px;
    width: 450px;
}

.contact-place img {
    width: 130px;
    padding: 5px;
}

.contact-place h3 {
    font-size: 30px;
    font-weight: bold;
}

.contact-text {
    margin: 10px;
}

.contact-geo, .contact-tel {
    display: flex;
    align-items: center;
}

.contact-geo a, .contact-tel a {
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.contact-text a:hover {
    color: #F2AF4C;
    transition: all 0.2s ease;
}


footer {
    padding: 20px;
    background-color: #E7DDDD;
}

.footer-upper-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-upper-row .footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.footer-upper-row .footer-logo img {
    margin-right: 20px;
    height: 60px;
}

.footer-upper-row .footer-butons {
    display: flex;
    align-items: center;
}

.footer-upper-row .footer-butons a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer-upper-row .footer-icons {
    display: flex;
    align-items: center;
}

.footer-upper-row .footer-icons img {
    width: 50px;
}

.footer-icons a {
    margin: 0 10px;
}

section.footer-lower-row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

section.footer-lower-row .footer-tel h4 {
    font-size: 20px;
    opacity: 0.25;
}

section.footer-lower-row .footer-numbers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

section.footer-lower-row .footer-numbers a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
}

section.footer-lower-row .footer-infopoint h4 {
    font-size: 20px;
    opacity: 0.25;
}


.footer-lower-row .footer-infopoint .footer-mail {
    margin-top: 20px;
}

.footer-lower-row .footer-infopoint .footer-mail a {
    color: black;
    text-decoration: none;
}


.footer-contacts h4 {
    font-size: 20px;
    opacity: 0.25;
}


.footer-contacts form {
    display: flex;
    flex-direction: column;
}

.footer-contacts form input,  .footer-contacts form textarea{
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 10px;
}

.footer-contacts form input {
    height: 36px;
}

.footer-contacts form input[type="submit"] {
    background-color: #FFD6A6;
}


.footer-rights {
    margin: 20px 0;
}

.footer-rights u {
    margin-right: 20px;
    opacity: 0.3;
}

.footer-contacts textarea {
    resize: none;
}


/**************** RESPONSIVE DESIGN ********************* */


.nav-buttons .icon {
    display: none;
}


@media screen and (max-width: 1000px) {
    .footer-upper-row h1 {
        font-size: 1.6rem
    }

    .footer-upper-row .footer-butons a {
        font-size: 1.1rem;
    }

    .footer-upper-row .footer-icons img{
        height: 30px;
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .contact-place {
        margin-bottom: 30px;
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 730px) {
    section#Service {
        display: block;
    }

    .circles {
        flex-direction: row;
    }

    .headerimagetext h2 {
        width: 250px;
        font-size: 1.5rem;
    }

    .nav-buttons li:not(:last-child) {
        display: none;
    }


    .nav-buttons .icon {
        display: block;
    }


    .nav-buttons.responsive {
        position: relative;
    }

    .nav-buttons.responsive.nav-buttons ul {
        display: flex;
        flex-direction: column;
    }
    .nav-buttons.responsive li {
        flex-direction: column;
        display: block;
        text-align: right;
    }

    .target {
        order: -1;
    }
    
    .icon {
        width: 20px;
        float: right;
    }

    @media screen and (max-width: 670px) {
        .footer-upper-row {
            flex-direction: column;
            align-items: center;
        }

        .footer-upper-row div {
            margin: 10px 0;
        }
        section.footer-lower-row {
            flex-direction: column;
        }
        #Service article h1 {
            font-size: 1.1rem;
        }

        #Service article p {
            font-size: 0.8rem;
        }
        .footer-lower-row div {
            margin: 15px 0;
        }

        .contact-row .contact-place {
            width: 340px;
        }
    }

    @media screen and (max-width: 450px) {
        #my-nav nav div.coworking-logo h1 {
            display: none;
        }

        section#Prices > h1 {
            font-size: 50px;
        }
    }
}
