* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #E5E6BA;
}

nav .coworking-logo {
    display: flex;
    align-items: center;
}

nav .coworking-logo img {
    height: 50px;
}

nav .coworking-logo h1 {
    font-size: 2rem;
    margin-left: 20px;
}

nav .nav-buttons {
    display: flex;
    align-items: center;
}

nav .nav-buttons ul {
    display: flex;
    list-style: none;
}

nav .nav-buttons ul li > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 10px;
}

.headerimagetext {
    position: relative;
}

.headerimagetext img {
    filter: brightness(60%) blur(2px);
}

.headerimagetext h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin: 0 50px;
}